@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap');
body{
   font-family: Karla;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
/*   border: solid 1px blue; */
  color: #1DB954;
  padding-bottom: 10px;
  background: #393939;

}
span{
  color: #e3f6f5;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 32px;
  max-width: 600px;
}

.header {
  text-align: center;

  font-size: 32px;
  font-weight: 600;
}

.bio {
  font-family: Karla;
  text-align: center;
  color: #d5def5;
  margin: 20px;
  width: 80%;
  align-self: center;
  line-height: 35px;
}
input{
  width: 65%;
   align-self: center;
}
.buttonDiv{

  text-align: center;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background:#1DB954;
  color: white;
  width: 50%;


}